<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mara-TH-ona - login </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/assets/css/main.css'>
    <script src='/public/assets/javes/main.js'></script>
</head>

<body>
    <div class="header">

        <svg  class= "lightRed" width="400" height="150" viewBox="0 0 375 137" fill="none" xmlns="http://www.w3.org/2000/svg" style="position: relative;
        top: -4px;
        right: 25px;">
            <path d="M375 131.811C290.154 142.969 246.618 137.623 178.365 101.055C124.642 75.3101 92.5732 64.2729 1.07288e-05 69.3741V-2.47291e-06L375 -2.47291e-06V131.811Z" fill="#E22336"/>
        </svg>            
        
        <svg  class="darkRed" width="400" height="150" viewBox="0 0 375 135" fill="none" xmlns="http://www.w3.org/2000/svg" style="    position: absolute;
        left: -4px;
        top: -15px;">
            <path d="M375 129.886C290.154 140.882 246.618 135.614 178.365 99.5796C124.642 74.2106 92.5732 63.3346 0 68.3613V0L375 0V129.886Z" fill="#BF1E2E"/>
        </svg>
            

    </div>

    <div class="interface">
        <H1 class="textoLoginBemVIndo">BEM - VINDO!</H1>

        <div class="icone">
            <img class="iconeRunner" src="public/assets/imagens/icones/iconeRunner.png" alt="">
            <img class="iconeSquare" src="/public/assets/imagens/icones/iconeSquare.png" alt="">
        </div>

        <div class="loginBotoes">
            <button class="botaoLoginProfessor">Aluno</button>
            <button class="botaoLoginProfessor">professor</button>
        </div>

    </div>

    <div class="footer">

    </div>
</body>
</html>